body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    opacity: 0; /* Inicialmente, torna o corpo transparente */
    animation: fadeIn 1s forwards; /* Adiciona animação de fade-in */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .login-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    transform: translateY(-50px); /* Move para cima inicialmente */
    opacity: 0; /* Inicialmente, torna o contêiner transparente */
    animation: slideIn 0.8s forwards, fadeIn 1s forwards; /* Adiciona animações de slide-in e fade-in */
  }
  
  @keyframes slideIn {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  h1 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-top: 10px;
    color: #555;
    opacity: 0; /* Inicialmente, torna as etiquetas transparentes */
    animation: fadeInLabels 1s forwards; /* Adiciona animação de fade-in para etiquetas */
  }
  
  @keyframes fadeInLabels {
    to {
      opacity: 1;
    }
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
  }
  
  input:focus {
    border-color: #4CAF50;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #45a049;
  }
  